<!DOCTYPE html>
<html>
<head>
<title>Schneider</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
<div class="container-fluid"> 
  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="breadcrumb_main">
    <div class="left"><a href="#"><img src="images/back.png">&nbsp;Home</a></div>
    <div class="right"><a href="#"><img src="images/sign_out.png">&nbsp;Signout</a></div>
    <div class="clearfix"></div>
  </div>
  <div class="dashboard">
    <div class="dashboard_left">
      <h1>Schneider</h1>
      <div class="user"><span>Username</span>
        Cheif Supplying Officer</div>
      <div class="left_menu">
        <button class="accordion"><img src="images/icon_1.gif">&nbsp;&nbsp;Create</button>
        <div class="panel">
          <ul>
            <li><a href="#">Purchase Order</a></li>
            <li><a href="#">Goods Receipt</a></li>
            <li><a href="#">Self Invoice</a></li>
          </ul>
        </div>
        <button class="accordion_1"><img src="images/icon_2.gif">&nbsp;&nbsp;Consumption</button>
        <button class="accordion_1"><img src="images/icon_3.gif">&nbsp;&nbsp;Payment</button>
        <button class="accordion"><img src="images/icon_4.gif">&nbsp;&nbsp;Search</button>
        <div class="panel">
          <ul>
            <li><a href="#">Purchase Order</a></li>
            <li><a href="#">Goods Receipt</a></li>
            <li><a href="#">Self Invoice</a></li>
          </ul>
        </div>
      </div>
      <ul class="left_submenu">
        <li><img src="images/icon_5.gif">&nbsp;&nbsp;Notification</li>
        <li><img src="images/icon_6.gif">&nbsp;&nbsp;Report</li>
      </ul>
    </div>
    <div class="dashboard_right">
        <h3>Purchase Order</h3>
        <div class="col-md-4">
          <label>PO Number</label>
          <input type="text" ng-model="PONumber">
          <label>PO Qty</label>
          <input type="text" ng-model="POQty">
          <label>Price</label>
          <input type="text" ng-model="Price">
        </div>
        <div class="col-md-4">
          <label>Line No.</label>
          <input type="text" ng-model="LineNo">
          <label>UOP</label>
          <input type="text" ng-model="UOP">
          <label>Currency</label>
          <input type="text" ng-model="Currency">
        </div>
        <div class="col-md-4">
          <label>SE Meterial Code</label>
          <input type="text" ng-model="SEMeterialCode">
          <label>Delivery Date</label>
          <input type="date" ng-model="DeliveryDate">
          <label>Creation Date</label>
          <input type="date" ng-model="CreationDate">
        </div>
        
        <div class="clearfix"></div>
      <div class="submit_block"></div>
      
      <input type="submit" value="SUBMIT" ng-click="submit()">
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Content Section ends here--> 
  
  <!-- Footer Section starts here-->
  <footer class="footer">©  copyright 2018</footer>
  <!-- Footer Section ends here--> 
  </div>
</div>
<script>


    var app = angular.module('myApp', []);
       
       app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
         $scope.submit = function(){
         $scope.setValue();
         }
         $scope.setValue=function() {
           var DeliveryDate = new Date();
           DeliveryDate=$scope.DeliveryDate
           var CreationDate = new Date();
           CreationDate=$scope.CreationDate
           var request=
                       {
                         "$class": "com.cts.ipm.p2pNetwork.PlaceOrder",
                         "poNumber": $scope.PONumber,
                         "purchaseorder": {
                           "$class": "com.cts.ipm.p2pNetwork.newPurchaseOrder",
                           "lineNumber": $scope.LineNo,
                           "materialCode": $scope.SEMeterialCode,
                           "quantity": $scope.POQty,
                           "uop": $scope.UOP,
                           "deliveryDate": DeliveryDate.toString(),
                           "creationDate": CreationDate.toString(),
                           "price": $scope.Price,
                           "currency": $scope.Currency
                         }
                       }
             var requestInfo = Request();
           
             data : requestInfo
         
           var res = $http.post('http://ec2-18-223-205-154.us-east-2.compute.amazonaws.com:3000/api/PlaceOrder',request).then(function successCallback(response){
                   alert("Successfully placed order");
                   $scope.update_response=response;
                   $scope.sucess=true
                   $scope.transactionId=$scope.update_response.data.transactionId
                   
               }, function errorCallback(response){
                   console.log("POST-ing of data failed");
               });
         }
         
         function Request() {
         
           return {
             "Request" : {
               "$class": "com.cts.ipm.p2pNetwork.PlaceOrder",
               "poNumber": " ",
               "purchaseorder": {
                 "$class": "com.cts.ipm.p2pNetwork.newPurchaseOrder",
                 "lineNumber": " ",
                 "materialCode": " ",
                 "quantity": " ",
                 "uop": " ",
                 "deliveryDate": " ",
                 "creationDate": " ",
                 "price": " ",
                 "currency": " "
               }
             }
             }
           };
         }]);
</script>
</body>
</html>
